@import '@fontsource/poppins';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

/* width */
body ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
body ::-webkit-scrollbar-track {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6); 
  /* // border-radius: 10px; */
background: #00c4e2;

}
 
/* Handle */
body ::-webkit-scrollbar-thumb {
  background: #1B3F71; 
  border-radius: 100px;

}

/* Handle on hover */
body ::-webkit-scrollbar-thumb:hover {
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 480px) {
  body ::-webkit-scrollbar {
display: none;  }
}
